.hero {
  width: 100%;
  min-height: 85vh;
  padding: 60px;
  background: #faf5ef; /* very light brown */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 60px;
  font-weight: 800;
  color: #4b2e1f;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-left p {
  font-size: 20px;
  line-height: 1.6;
  color: #5a4639;
  margin-bottom: 30px;
}

.hero-buttons button {
  padding: 14px 28px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 15px;
  border: none;
  transition: 0.3s;
}

.start-btn {
  background: #5a3e2b;
  color: white;
}

.start-btn:hover {
  background: #3e291c;
}

.learn-btn {
  background: white;
  color: #5a3e2b;
  border: 2px solid #5a3e2b;
}

.learn-btn:hover {
  transform: scale(1.05);
}

.hero-right img {
  width: 540px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
